        *
        {
        	padding: 0;
        	margin: 0;
        }
        body
        {width: 100%;
			height: 100%;
			position: relative;}

		.f
		{	
			width: 100px;height: 100px;
			background:#1e909a;
			position: absolute;left: 0;top: 0;
			transform: translateZ(50px);
		}
		.d
		{
			width: 100px;height:100px;
			background:#d53b33;
			position: absolute;left: 0;top: 0;
			transform: rotateX(90deg) translateZ(-50px);
		}
		.a{
			width: 100px;height: 100px;
			background: #e79c0f;
			position: absolute;left: 0;top: 0;
			transform: rotateY(90deg) translateZ(50px);
		}
		.one
		{
			width: 200px;
			height: 200px;
			position: absolute;left: 500px;top: 300px;
			transform-style: preserve-3d;
			transform: rotateZ(40deg) rotateY(-35deg)  rotateX(35deg);
		}
		.one .test1 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			position: relative;	
			animation: test21 5s ease-in 0s infinite normal;

		}.one .test2 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			position: relative;
			animation: test12 5s ease-in 0s infinite normal;			
		}
        .one .test3 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			position: relative;
			animation: test3 5s ease-in 0s infinite normal;	
			}
		.two
		{
			width: 200px;height: 200px;
			position: absolute;left: 500px;top: 300px;
			transform-style: preserve-3d;
			transform: rotateZ(40deg) rotateY(-35deg)  rotateX(35deg) translate3d(100px, 0px, 0px);
		}
		.two .test1 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test24 5s ease-in 0s infinite normal;
		}
		.two .test2 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test15 5s ease-in 0s infinite normal;	
		}
        .two .test3 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test6 5s ease-in 0s infinite normal;	
			}
		.three
		{   
			width: 200px;
			height: 200px;
			position: absolute;left: 500px;top: 300px;
			transform-style: preserve-3d;
			transform:rotateZ(40deg) rotateY(-35deg)  rotateX(35deg) translate3d(200px, 0px, 0px);
		}
		.three  .test1 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test27 5s ease-in 0s infinite normal;	
		}
		.three .test2 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test18 5s ease-in 0s infinite normal;
		}
        .three .test3 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test9 5s ease-in 0s infinite normal;	
			}
		.four
		{
			width: 200px;height: 200px;
			position: absolute;left: 500px;top: 300px;
			transform-style: preserve-3d;
			transform:rotateZ(40deg) rotateY(-35deg)  rotateX(35deg) translate3d(0px,00px, 100px);
		}
		.four  .test1 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test20 5s ease-in 0s infinite normal;	
		}
		.four .test2 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test11 5s ease-in 0s infinite normal;	
		}
        .four .test3 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test2 5s ease-in 0s infinite normal;	
			}
		.five
		{
			width: 200px;height: 200px;
			position: absolute;left: 500px;top: 300px;
			transform-style: preserve-3d;
			transform:rotateZ(40deg) rotateY(-35deg)  rotateX(35deg) translate3d(100px,00px, 100px);
		}
		.five  .test1 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test23 5s ease-in 0s infinite normal;
		}
		.five .test2 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test14 5s ease-in 0s infinite normal;	
		}
        .five .test3 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test5 5s ease-in 0s infinite normal;	
			}
		.six
		{
			width: 200px;height: 200px;
			position: absolute;left: 500px;top: 300px;
			transform-style: preserve-3d;
			transform:rotateZ(40deg) rotateY(-35deg)  rotateX(35deg) translate3d(200px,00px, 100px);
		}
		.six  .test1 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
		animation: test26 5s ease-in 0s infinite normal;
		}
		.six .test2 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test17 5s ease-in 0s infinite normal;
		}
        .six .test3 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test8 5s ease-in 0s infinite normal;	
			}
		.seven
		{
			width: 200px;
			height: 200px;
			position: absolute;left: 500px;top: 300px;
			transform-style: preserve-3d;
			transform:rotateZ(40deg) rotateY(-35deg)  rotateX(35deg) translate3d(00px,00px, 200px);
		}
		.seven  .test1 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			position: relative;
			animation: test19 5s ease-in 0s infinite normal;	
		}
		.seven .test2 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test10 5s ease-in 0s infinite normal;	
		}
        .seven .test3 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test1 5s ease-in 0s infinite normal;	
			}
		.eight
		{
			width: 200px;height: 200px;
			position: absolute;left: 500px;top: 300px;
			transform-style: preserve-3d;
			transform:rotateZ(40deg) rotateY(-35deg)  rotateX(35deg) translate3d(100px,00px, 200px);
		}
		.eight  .test1 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test22 5s ease-in 0s infinite normal;
		}
		.eight .test2 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test13 5s ease-in 0s infinite normal;	
		}
        .eight .test3 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test4 5s ease-in 0s infinite normal;	
			}
		.nine
		{
			width: 200px;height: 200px;
			position: absolute;left: 500px;top: 300px;
			transform-style: preserve-3d;
			transform:rotateZ(40deg) rotateY(-35deg)  rotateX(35deg)  translate3d(200px,00px, 200px);
		}
		.nine  .test1 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test25 5s ease-in 0s infinite normal;
		}
		.nine .test2 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test16 5s ease-in 0s infinite normal;	
		}
        .nine .test3 
		{
			width: 100px;height: 100px;
			transform-style: preserve-3d;
			animation: test7 5s ease-in 0s infinite normal;	
			}
		@keyframes test1 
		{
			0{}
			20%{transform: translate3d(-100px,00px, 0)}
			40%{transform: translate3d(-100px,100px, 0)}
			50%{transform: translate3d(-100px,100px, 100px)}
			70%{transform: translate3d(0px,100px, 100px)}
			90%{transform: translate3d(0px,0px, 100px)}
			100%{transform: translate3d(0px,0px,0px)}
		}
		@keyframes test2
		{
			0{}
			20%{transform: translate3d(-100px,00px, 0)}
			40%{transform: translate3d(-100px,100px, 0)}
			50%{transform: translate3d(-100px,100px, 0)}
			70%{transform: translate3d(0px,100px, 0px)}
			90%{transform: translate3d(000px,0px, 0px)}
			100%{transform: translate3d(000px,0px, 0px)}
		}@keyframes test3 
		{
			0{}
			20%{transform: translate3d(-100px,00px, 0)}
			40%{transform: translate3d(-100px,100px, 0)}
			50%{transform: translate3d(-100px,100px,-100px)}
			70%{transform: translate3d(0px,100px, -100px)}
			90%{transform: translate3d(0px,0px, -100px)}
			100%{transform: translate3d(000px,0px, 0px)}
		}@keyframes test4 
		{
			0{}
			20%{transform: translate3d(000px,0px, 0px)}
			40%{transform: translate3d(0px,100px, 0)}
			50%{transform: translate3d(0px,100px, 100px)}
			70%{transform: translate3d(0px,100px, 100px)}
			90%{transform: translate3d(0px,0px, 100px)}
			100%{transform: translate3d(0px,0px, 0px)}
		}@keyframes test5 
		{
			0{}
			20%{transform: translate3d(000px,0px, 0px)}
			40%{transform: translate3d(0px,100px, 0)}
			50%{transform: translate3d(0px,100px, 0)}
			70%{transform: translate3d(0px,100px, 0)}
			90%{transform: translate3d(0px,0px, 0)}
			100%{transform: translate3d(0px,0px, 0)}
		}@keyframes test7 
		{
			0{}
			20%{transform: translate3d(100px,00px, 0)}
			40%{transform: translate3d(100px,100px, 0)}
			50%{transform: translate3d(100px,100px,100px)}
			70%{transform: translate3d(0px,100px,100px)}
			90%{transform: translate3d(0px,0px,100px)}
			100%{transform: translate3d(0px,0px,0px)}
		}@keyframes test6 
		{
			0{}
			20%{transform: translate3d(-0px,00px, 0)}
			40%{transform: translate3d(0px,100px, 0)}
			50%{transform: translate3d(0px,100px, -100px)}
			70%{transform: translate3d(0px,100px, -100px)}
			90%{transform: translate3d(0px,0px, -100px)}
			100%{transform: translate3d(0px,0px, 00px)}
		}@keyframes test8 
		{
			0{}
			20%{transform: translate3d(100px,00px, 0)}
			40%{transform: translate3d(100px,100px, 0)}
			50%{transform: translate3d(100px,100px, 0)}
			70%{transform: translate3d(0px,100px, 0)}
			90%{transform: translate3d(0px,0px, 0)}
			100%{transform: translate3d(0px,0px, 0)}
		}@keyframes test9 
		{
			0{}
			20%{transform: translate3d(100px,00px, 0)}
			40%{transform: translate3d(100px,100px, 0)}
			50%{transform: translate3d(100px,100px,-100px)}
			70%{transform: translate3d(0px,100px,-100px)}
			90%{transform: translate3d(0px,0px,-100px)}
			100%{transform: translate3d(0px,0px,00px)}
		}@keyframes test10 
		{
			0{}
			20%{transform: translate3d(-100px,00px, 0)}
			40%{transform: translate3d(-100px,00px, 0)}
			50%{transform: translate3d(-100px,00px, 100px)}
			70%{transform: translate3d(0px,00px, 100px)}
			90%{transform: translate3d(0px,00px, 100px)}
			100%{transform: translate3d(0px,00px, 0px)}
		}@keyframes test11 
		{
			0{}
			20%{transform: translate3d(-100px,00px, 0)}
			40%{transform: translate3d(-100px,00px, 0)}
			50%{transform: translate3d(-100px,00px, 0)}
			70%{transform: translate3d(-0px,00px, 0)}
			90%{transform: translate3d(0px,00px, 0)}
			100%{transform: translate3d(0px,00px, 0)}
		}@keyframes test12
		{
			0{}
			20%{transform: translate3d(-100px,00px, 0)}
			40%{transform: translate3d(-100px,00px, 0)}
			50%{transform: translate3d(-100px,00px, -100px)}
			70%{transform: translate3d(0px,00px, -100px)}
			90%{transform: translate3d(0px,00px, -100px)}
			100%{transform: translate3d(0px,00px, -00px)}
		}@keyframes test13 
		{
			0{}
			20%{transform: translate3d(0px,00px, 0)}
			40%{transform: translate3d(0px,00px, 0)}
			50%{transform: translate3d(0px,00px, 100px)}
			70%{transform: translate3d(0px,00px, 100px)}
			90%{transform: translate3d(0px,00px, 100px)}
			100%{transform: translate3d(0px,00px, 0px)}
		}@keyframes test14 
		{
			0{}
			20%{transform: translate3d(0px,00px, 0)}
			40%{transform: translate3d(0px,00px, 0)}
			50%{transform: translate3d(0px,00px, 0)}
			70%{transform: translate3d(0px,00px, 0)}
			90%{transform: translate3d(0px,00px, 0)}
			100%{transform: translate3d(0px,00px, 0)}
		}@keyframes test15 
		{
			0{}
			20%{transform: translate3d(0px,00px, 0)}
			40%{transform: translate3d(0px,00px, 0)}
			50%{transform: translate3d(0px,00px, -100px)}
			70%{transform: translate3d(0px,00px,-100px)}
			90%{transform: translate3d(0px,00px,-100px)}
			100%{transform: translate3d(0px,00px,0px)}
		}@keyframes test16
		{
			0{}
			20%{transform: translate3d(100px,00px, 0)}
			40%{transform: translate3d(100px,00px, 0)}
			50%{transform: translate3d(100px,00px, 100px)}
			70%{transform: translate3d(0px,00px, 100px)}
			90%{transform: translate3d(0px,00px, 100px)}
			100%{transform: translate3d(0px,00px, 0px)}
		}@keyframes test17 
		{
			0{}
			20%{transform: translate3d(100px,00px, 0)}
			40%{transform: translate3d(100px,00px, 0)}
			50%{transform: translate3d(100px,00px, 0)}
			70%{transform: translate3d(0px,00px, 0)}
			90%{transform: translate3d(0px,00px, 0)}
			100%{transform: translate3d(0px,00px, 0)}
		}@keyframes test18
		{
			0{}
			20%{transform: translate3d(100px,00px, 0)}
			40%{transform: translate3d(100px,00px, 0)}
			50%{transform: translate3d(100px,00px, -100px)}
			70%{transform: translate3d(0px,00px, -100px)}
			90%{transform: translate3d(0px,00px, -100px)}
			100%{transform: translate3d(0px,00px, -0px)}
		}@keyframes test19 
		{
			0{}
			20%{transform: translate3d(-100px,00px, 0)}
			40%{transform: translate3d(-100px,-100px, 0)}
			50%{transform: translate3d(-100px,-100px, 100px)}
			70%{transform: translate3d(0px,-100px, 100px)}
			90%{transform: translate3d(0px,0px, 100px)}
			100%{transform: translate3d(0px,0px, 0px)}
		}@keyframes test20 
		{
			0{}
			20%{transform: translate3d(-100px,00px, 0)}
			40%{transform: translate3d(-100px,-100px, 0)}
			50%{transform: translate3d(-100px,-100px, 0px)}
			70%{transform: translate3d(0px,-100px, 0px)}
			90%{transform: translate3d(0px,0px, 00px)}
			100%{transform: translate3d(0px,0px, 0px)}
		}@keyframes test21 
		{
			0{}
			20%{transform: translate3d(-100px,00px, 0)}
			40%{transform: translate3d(-100px,-100px, 0)}
			50%{transform: translate3d(-100px,-100px, -100px)}
			70%{transform: translate3d(0px,-100px, -100px)}
			90%{transform: translate3d(0px,0px, -100px)}
			100%{transform: translate3d(0px,0px, 0px)}
		}@keyframes test22
		{
			0{}
			20%{transform: translate3d(-0px,00px, 0)}
			40%{transform: translate3d(-0px,-100px, 0)}
			50%{transform: translate3d(-0px,-100px, 100px)}
			70%{transform: translate3d(-0px,-100px, 100px)}
			90%{transform: translate3d(-0px,-0px, 100px)}
			100%{transform: translate3d(-0px,-0px, 0px)}
		}@keyframes test23 
		{
			0{}
			20%{transform: translate3d(000px,00px, 0)}
			40%{transform: translate3d(000px,-100px, 0)}
			50%{transform: translate3d(000px,-100px, 00px)}
			70%{transform: translate3d(000px,-100px, 00px)}
			90%{transform: translate3d(000px,0px, 00px)}
			100%{transform: translate3d(000px,0px, 00px)}
		}@keyframes test24 
		{
			0{}
			20%{transform: translate3d(000px,00px, 0)}
			40%{transform: translate3d(000px,-100px, 0)}
			50%{transform: translate3d(000px,-100px, -100px)}
			70%{transform: translate3d(000px,-100px, -100px)}
			90%{transform: translate3d(000px,-00px, -100px)}
			100%{transform: translate3d(000px,0px, 00px)}
		}@keyframes test25 
		{
			0{}
			20%{transform: translate3d(100px,00px, 0)}
			40%{transform: translate3d(100px,-100px, 0)}
			50%{transform: translate3d(100px,-100px, 100px)}
			70%{transform: translate3d(00px,-100px, 100px)}
			90%{transform: translate3d(0px,00px, 100px)}
			100%{transform: translate3d(0px,00px, 00px)}
		}@keyframes test26
		{
			0{}
			20%{transform: translate3d(100px,00px, 0)}
			40%{transform: translate3d(100px,-100px, 0)}
			50%{transform: translate3d(100px,-100px, 0px)}
			70%{transform: translate3d(000px,-100px, 0px)}
			90%{transform: translate3d(00px,000px, 0px)}
			100%{transform: translate3d(00px,000px, 0px)}
		}@keyframes test27 
		{
			0{}
			20%{transform: translate3d(100px,00px, 0)}
			40%{transform: translate3d(100px,-100px, 0)}
			50%{transform: translate3d(100px,-100px,-100px)}
			70%{transform: translate3d(0px,-100px,-100px)}
			90%{transform: translate3d(00px,00px,-100px)}
			100%{transform: translate3d(0px,00px,00px)}
		}